<header role='banner'>
  <h1>Machine Learning and Vision (MLV) Lab</h1>
  <nav role='navigation'>
      <ul>
        <li><a href='{{ site.baseurl }}/' {% if page.url == '/index.html' %}id="active"{% endif %}>Home</a></li>
        <li><a href='{{ site.baseurl }}/pub.html' {% if page.url == '/pub.html' %}id="active"{% endif %}>Publications</a></li>
        <li><a href="{{site.baseurl }}/blog" {% if page.url contains '/blog/' %}id='active'{% endif %}>Blog</a></li>
        <li><a href='{{ site.baseurl }}/people.html' {% if page.url == '/people.html' %}id="active"{% endif %}>People</a></li>
        <li><a href='{{ site.baseurl }}/code.html' {% if page.url == '/code.html' %}id="active"{% endif %}>Code</a></li>
        <li><a href='{{ site.baseurl }}/resource.html' {% if page.url == '/resource.html' %}id="active"{% endif %}>Resource</a></li>
        <li><a href='{{ site.baseurl }}/course.html' {% if page.url == '/course.html' %}id="active"{% endif %}>Course</a></li>
        <li><a href='{{ site.baseurl }}/contact.html' {% if page.url == '/contact.html' %}id="active"{% endif %}>Contact/a></li>
      </ul>
  </nav>
</header>
